[submodule "releases/40_corvus/submodules/crow"]
	path = releases/40_corvus/submodules/crow
	url = https://github.com/monome/crow.git
[submodule "releases/40_corvus/submodules/littlefs"]
	path = releases/40_corvus/submodules/littlefs
	url = https://github.com/littlefs-project/littlefs.git
[submodule "releases/40_corvus/submodules/miditocv"]
	path = releases/40_corvus/submodules/miditocv
	url = https://github.com/schollz/miditocv.git
[submodule "releases/40_corvus/submodules/pico-lfs-test"]
	path = releases/40_corvus/submodules/pico-lfs-test
	url = https://github.com/catfact/pico-lfs-test
[submodule "releases/40_corvus/submodules/druid"]
	path = releases/40_corvus/submodules/druid
	url = https://github.com/monome/druid
[submodule "releases/40_corvus/submodules/wrDsp"]
	path = releases/40_corvus/submodules/wrDsp
	url = https://github.com/whimsicalraps/wrDsp.git
[submodule "releases/40_corvus/submodules/wrLib"]
	path = releases/40_corvus/submodules/wrLib
	url = https://github.com/whimsicalraps/wrLib.git
[submodule "releases/40_corvus/submodules/norns"]
	path = releases/40_corvus/submodules/norns
	url = https://github.com/monome/norns.git
[submodule "releases/41_blackbird/submodules/lua"]
	path = releases/41_blackbird/submodules/lua
	url = https://github.com/lua/lua.git
[submodule "releases/41_blackbird/lua"]
	path = releases/41_blackbird/lua
	url = https://github.com/lua/lua.git
[submodule "releases/41_blackbird/submodules/crow"]
	path = releases/41_blackbird/submodules/crow
	url = https://github.com/monome/crow.git
